@model Product

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete a product</h1>

<form method="post">
  <fieldset>
    <div class="form-group">
      <label asp-for="ProductTitle" class="form-label mt-4"></label>
      <input asp-for="ProductTitle" type="text" class="form-control" aria-describedby="emailHelp" disabled>
      <span asp-validation-for="ProductTitle" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="ProductDescription" class="form-label mt-4"></label>
      <input asp-for="ProductDescription" type="text" class="form-control" aria-describedby="emailHelp" disabled>
      <span asp-validation-for="ProductDescription" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="ProductCount" class="form-label mt-4"></label>
      <input asp-for="ProductCount" type="text" class="form-control" aria-describedby="emailHelp" disabled>
      <span asp-validation-for="ProductCount" class="text-danger"></span>
    </div>
    <div class="form-group mb-3">
      <label asp-for="ProductPrice" class="form-label mt-4"></label>
      <input asp-for="ProductPrice" type="text" class="form-control" aria-describedby="emailHelp" disabled>
      <span asp-validation-for="ProductPrice" class="text-danger"></span>
    </div>
    <div class="form-group mb-5">
        <select class="nav-item dropdown" asp-for="CategoryId" asp-items="ViewBag.Categories" disabled>
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Category</a>        
            <option></option>
        </select>
    </div>
    <button type="submit" class="btn btn-warning" asp-controller="Product" asp-action="Delete">Delete</button>
    <a asp-controller="Product" asp-action="Index" class="btn btn-primary">Back To List</a>
  </fieldset>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial.cshtml"/>
    }
}

